* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1rem;
  color: rgb(1, 4, 19);
  font-family: 'Lato', sans-serif;
}

.App {
  height: 100vh;
  background-image: linear-gradient(to right, rgb(35, 48, 51)24%, rgb(35, 72, 53) 52%, rgb(25, 94, 49)72%, rgb(19, 100, 30)92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.container {
  padding: 20px 10px;
  border-radius: 10px;
  height: 420px;
  width: 350px;
  background-color: rgba(219, 229, 230, 0.5);
  text-align: center;
  border: 2px solid rgba(199, 204, 204, 0.7);
}

.text-area-container {
  display: flex;
}

.text-area-container>button,
.text-area-container>textarea {
  margin: 15px auto;
  height: 2.2rem;
}

.copy-btn {
  cursor: pointer;
}

.password-area {
  width: 70%;
  font-size: 1.5rem;
  font-weight: 600;
  justify-items: center;
  resize: none;
  cursor: not-allowed;
  border-radius: 5px;
}

.text-area-container button {
  font-size: 1rem;
  padding: 0 5px;
  border-radius: 5px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.checkbox-container input,
.checkbox-container label {
  margin: 10px 25px;
  font-size: 1.2rem;
}

.checkbox-container input {
  cursor: pointer;
}

.checkbox-container .checkbox {
  width: 17px;
  height: 17px;
}

.generate-btn {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.level-Container {
  margin: 10px auto;
  width: 70%;
  font-size: 1.2rem;
  height: 50px;
  background: rgba(62, 51, 51, 0.3);
  border-radius: 5px;
}

.weak,
.medium,
.strong {
  font-size: 2rem;
  padding: 3px;
}

.weak {
  color: rgb(151, 31, 31);
}

.medium {
  color: rgb(210, 210, 76);
}

.strong {
  color: rgb(66, 210, 66);
}

button:hover {
  background-color: rgba(82, 94, 37, 0.5);
}

@media screen and (min-width: 305px) and (max-width: 380px) {
  * {
    font-size: 0.6rem;
  }

  .container {
    height: 380px;
    width: 80%;
  }

  .text-area-container>button,
  .text-area-container>textarea {
    height: 50px;
    margin: 15px auto;
    height: 2.5rem;

  }

  .checkbox-container .checkbox {
    width: 13px;
    height: 13px;
  }

  .level-Container {
    margin: 15px auto;
    width: 50%;
    height: 30px;
  }
}

@media screen and (min-width: 270px) and (max-width: 305px) {
  * {
    font-size: 0.45rem;
  }

  .container {
    height: 360px;
    width: 80%;
  }

  .text-area-container button,
  .text-area-container textarea {
    height: 50px;
    margin: 15px auto;
    height: 2.5rem;
  }

  .checkbox-container div{
    margin: 0;
  }

  .checkbox-container .checkbox {
    width: 13px;
    height: 13px;
  }

  .checkbox-container>.checkbox,
  .checkbox-container>label {
    margin: 10px auto;
    font-size: 1.1rem;
  }

  .level-Container {
    margin: 15px auto;
    width: 50%;
    height: 30px;
  }
}